#homepagecards-title {
  margin: 0 0 30px 10px;
}

.card {
  .background-image {
    padding-top: 66.7%;
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
  }
}