footer.fl-builder-content {
  background-color: $blue-darkest;
  color: $grey-light;

  h2, h3 {
    color: $grey-light;
  }

  h4, h5, h6, p, li, a {
    color: $grey-light;
  }

  small {
    color: $grey-light;
  }

  h6 {
    margin-bottom: 0;
    font-weight: bold;
  }

  .copy p {
    color: $grey-light;
    font-size: 14px;
  }
  .menu a {
    padding: 5px 0 5px 0;
  }
  .menu > :first-child {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
