.fl-row-fixed-width {
  max-width: 1300px;
}

// Homepage dropdown and Staff members posts module
#slider-module .uabb-module-content, div.dropdown-selector {
  // height: 300px!important;
}

#filter, #response, #default-response{
  margin-left: 200px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 250px;
  margin: 10px;
  text-align: left;
  font-size: 14px;
}