// Colour variables
$orange: #d86227;
$lightestblue: #cbebea;
$lightblue: #7f9da5;
$blue: #42777e;
$darkblue: #003c4b;
$darkestblue: #0b212c;

// Transitions
$transition: all 0.3s ease;
$transitionslow: all 0.6s ease;